@model LoginViewModel

<h2>Login</h2>
<form method="post">
    <div class="mb-3">
        <label asp-for="Username" class="form-label"></label>
        <input asp-for="Username" class="form-control" />
        <p style="color:red">@Model.UsernameErrorMessage</p>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <p style="color:red">@Model.PasswordErrorMessage</p>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    
</form>
